.actCRUD{
    font-size: 23px;
    cursor: pointer;
}
.actCRUD:hover{
    color: #212121;
}
body{
    background: white;
}
@media only screen and (max-width: 600px) {
    .tR {
        display : none;
    }
}