.actCRUD{
    font-size: 23px;
    cursor: pointer;
}
.actCRUD:hover{
    color: #212121;
}
body{
    background: white;
}

.fixed-footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}

.modal-header-mobile{
    padding: 8px 0px;
}

@media only screen and (max-width: 600px) {
    .tR {
        display : none;
    }
    .tS{
        display: inline-block;
    }
    .modal{
        width: 100%;
        height: 100%;
        max-height: 100%;
        top:0px !important;
    }
}
@media only screen and (min-width: 600px) {
    .tS{
        display: none;
    }
}

/*Pnotify*/
.crm-pnotify .brighttheme{
    background-color: #323232;
    color: #fff;
    border-radius: 5px;
}
.crm-pnotify .ui-pnotify-title{
    font-size: 1.1rem;
}
.crm-pnotify .ui-pnotify-text{
    font-size: 0.8rem;
}
.crm-pnotify .ui-pnotify-icon{
    font-size: 3rem;
}
/*Pnotify*/

.font-small{
    font-size: 13px;
}
.font-medium{
    font-size: 16px;
}

.box-container-sm{
    max-width: 300px;
    margin: 0 auto;
}

.box-container-md{
    max-width: 500px;
    margin: 0 auto;
}

.box-container{
    max-width: 800px;
    margin: 0 auto;
}

.box-container-lg{
    max-width: 1200px;
    margin: 0 auto;
}

.box-container-lx{
    max-width: 1500px;
    margin: 0 auto;
}
::-webkit-scrollbar{width:8px;cursor:pointer;}
::-webkit-scrollbar:horizontal{height:8px;}
::-webkit-scrollbar-thumb{background-color:#808080;}
::-webkit-scrollbar-thumb:hover{background-color:#4d4d4d;}
::-webkit-scrollbar-thumb:active{background-color:#333333;}
::-webkit-scrollbar-track{background-color:#F5F5F5;}
