.actCRUD{
    font-size: 23px;
    cursor: pointer;
}
.actCRUD:hover{
    color: #212121;
}
body{
    background: white;
}
@media only screen and (max-width: 600px) {
    .tR {
        display : none;
    }
    .tS{
        display: inline-block;
    }
}
@media only screen and (min-width: 600px) {
    .tS{
        display: none;
    }
}

/*Pnotify*/
.crm-pnotify .brighttheme{
    background-color: #323232;
    color: #fff;
    border-radius: 5px;
}
.crm-pnotify .ui-pnotify-title{
    font-size: 1.1rem;
}
.crm-pnotify .ui-pnotify-text{
    font-size: 0.8rem;
}
.crm-pnotify .ui-pnotify-icon{
    font-size: 3rem;
}
/*Pnotify*/

