<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbcrm</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="pe.edu.upeu.crm.bean.Iglesia"/>
    <mapping class="pe.edu.upeu.crm.bean.Miembrogp"/>
    <mapping class="pe.edu.upeu.crm.bean.Documento"/>
    <mapping class="pe.edu.upeu.crm.bean.Unionp"/>
    <mapping class="pe.edu.upeu.crm.bean.Detrol"/>
    <mapping class="pe.edu.upeu.crm.bean.Tipoevento"/>
    <mapping class="pe.edu.upeu.crm.bean.Periodo"/>
    <mapping class="pe.edu.upeu.crm.bean.Privilegio"/>
    <mapping class="pe.edu.upeu.crm.bean.Asistenciaevt"/>
    <mapping class="pe.edu.upeu.crm.bean.Campo"/>
    <mapping class="pe.edu.upeu.crm.bean.Grupo"/>
    <mapping class="pe.edu.upeu.crm.bean.Persona"/>
    <mapping class="pe.edu.upeu.crm.bean.Asmiemgp"/>
    <mapping class="pe.edu.upeu.crm.bean.Miembromin"/>
    <mapping class="pe.edu.upeu.crm.bean.Escuela"/>
    <mapping class="pe.edu.upeu.crm.bean.Evento"/>
    <mapping class="pe.edu.upeu.crm.bean.Asmiemmin"/>
    <mapping class="pe.edu.upeu.crm.bean.Distrito"/>
    <mapping class="pe.edu.upeu.crm.bean.Ministerio"/>
    <mapping class="pe.edu.upeu.crm.bean.Usuario"/>
    <mapping class="pe.edu.upeu.crm.bean.Rol"/>
  </session-factory>
</hibernate-configuration>
